:root {
	--color-button-face: #282828;
	--color-button-text: #ebdbb2;
	--color-button-highlight: #504945;
	--color-button-light: #3c3836;
	--color-button-shadow: #1d2021;
	--color-button-shadow-dark: #1d2021;

	--color-menubar: #282828;
	--color-menubar-text: #ebdbb2;

	--color-window: #282828;
	--color-window-text: #ebdbb2;

	--color-inactive-caption-bg-start: #3c3836;
	--color-inactive-caption-bg-end: #282828;
	--color-inactive-caption-text: #928374;

	--color-active-caption-bg-start: #458588;
	--color-active-caption-bg-end: #689d6a;
	--color-active-caption-text: #ebdbb2;

	--color-highlight: #689d6a;
	--color-highlight-border: #d79921;
	--color-highlight-text: #ebdbb2;

	--color-tooltip: #3c3836;
	--color-tooltip-text: #ebdbb2;

	--color-gray-text: #928374;
	--color-link: #458588;

	--text-ui-font: "Terminus", "Tahoma", "Arial", sans-serif;
	--text-monospace-font: "Terminus", "MS Gothic", "MS Mincho", monospace;
	font-family: "Terminus", "Tahoma", "Arial", sans-serif;

	--icon-normal-computer: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA70lEQVQ4jWNkgAI7U7f/MPah07sYGbAAbGpYYBIqCvJIShEKkQG6mkOndzEyYVNICmC0M3X7v3RyAMOJM0/gghYmMlgVo6uJzt0A8QJMYvLCMwy58SYoCtEBuhomZAlkGp9mZDUUhwHcgNx4ExQa2RYYG2Y7TA0DAzQQVRTkGTztRTEUozsfWXz7wdcMdx48RPXC5IVnGFQU5BlUFOQZJi88w/D6xieG1zc+YYhj9QK5gAWf5IqTt4gzAOZ/5CjCzA+Q5A0LA097UYbJDx5CDHh94xOKUmyZ6dDpXYx2pm7/0dVSnhcYGIjLyjCArhYAvJx4XYN862gAAAAASUVORK5CYII=") !important;

	--icon-normal-windows: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABD0lEQVQ4jY2TsWrCUBSGv1vi0sWpQ95Ch0CnO3SIiCDkDURCR119BJ9BRPoGQkCkDh3sUnDwKcTBqUuXDrdLzyG5uUb/6eQk33//C/kNAdkkdaH9/rAz/i4Kge3OJMRjwflGamCT1An4e/oMGsh7C05MojJ8DQTYbuYA9Acz2p2JmmiCW3B/MKvNAMYmqXt86t6Eywlk93M58nCVvFORnCLu916hlU1hMaomEKPQ83Yzr91fEwyXZ4o8DpqEkrWyqc6aYLg8VwCBmmAAA///wesbAEUeq1l59vW9GLE/7IwmeHmONUmRx42wfKsJJEW2egfg46sZXI972odKu6RMYuRrPe4B1TLV6lk28hWq8x9PLX8gJVrq9gAAAABJRU5ErkJggg==") !important;
}
